.text-small {
    font-size: var(--t-12);
    font-family: var(--font-family);
}

.text-medium{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: var(--t-18);
    font-family: var(--font-family-noto-sans);
}

.text-large{
    font-size: var(--t-18);
    font-family: var(--font-family);
    font-weight:700;
}
.titulo__principal{
    margin-bottom: 24px;
    font-size: 48px;
    font-family: var(--font-family-merienda);
}
